	a:link, a:visited {
		text-decoration: none;
		color: #000
	}
	a:hover {
		text-decoration: underline; 
		color: #00f
	}
	a:active {
		text-decoration: none;
		color: #ffffff
	}
	#foto {
		position: absolute;
		top: 180px;
		left: 25px;
		width: 800px;
		height: 530px;
	}
	#apoio1 {
		position: fixed;
		top: 0;
		left: 953px;
		width: 403px;
		height: 350px;
	}
	body {
		background-image: url("capa1.jpg");
		background-attachment: fixed;
		background-position: center center;
	}
	#texto {
	position: absolute;
	top: 300px;
	bottom: 50px;
	right: 450px;
	left: 50px
	}
	#logo {
		position: absolute;
		width: 700px;
		height: 400px;
		top: -80px;
		left: -280px;
	}

	#ancora {
		
		position: fixed;
				top: 0px;
				bottom: 600px;
				left: 400px;
				right: 300px;
	}
	#apoio {
		position: fixed;
			top: 60px;
			bottom: 0px;
			left: 1020px;
			right: 00px;
	}
	#apoiadores {
		border-color: #ffffff;
		border-style: solid;
		border-bottom-width: 0;
    	border-top-width: 0;
    	border-right-width: 0;
    	border-left-width: 1px;
		

		position: fixed;
			top: 0px;
			bottom: 0px;
			left: 952px;
			right: 00px;
	}
	#cinza {
		background-image: url("capa1.jpg"); 
		border-color: #ffffff;
		border-style: solid;
    	border-bottom-width: 0;
    	border-top-width: 0;
    	border-right-width: 0;
    	border-left-width: 0;
		
		position: fixed;
				top: 0px;
				bottom: 600px;
				left: 0px;
				right: 403px;
	}
	#b {
		font-size: 300%;
		font-family: ;

	}
	h1 {
		color: #000;
	}

	h2 {
		color: #000;
		}
	p {
		font-size: 120%;
		color: #ffffff;
	}
	